body {
  margin: 0;
  height: 100%;
  
  /* 追加樣式，為了不讓版型跑掉，把它限定在某個寬度 */
  min-width: 1200px;
}

html {
  height: 100%;
}

#root {
  position: relative;
  min-height: 100%;
}

#app {
  padding-bottom: 295px;
}

/* flex設定 */
.flex {
  display: flex;
}
/* max-width 1200px 設定 */
.max-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* 頁面內容 (別的頁面也共用，因此放這) */
.page-content-wrapper {
  position: relative;
  margin-top: 150px;
}
.page-content-container {
  flex-direction: column;
}
/* 滑動圖片區塊 容器 */
.home-slide-img-container {
  width: 900px;
  height: 270px;
  position: relative;
  overflow: hidden;
}

.slide-img-container {
  position: relative;
  height: 360px;
  margin-top: 30px;
}

/* 滑動圖片 圖片列 */
.home-slide-img {
  position: absolute;
  width: 500%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.home-slide-img li {
  float: left;
}
.home-slide-img img {
  width: 900px;
  height: 270px;
}

/* 下方選擇圖片按鈕列 */
.img-selector {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 900px;
  height: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.img-selector li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 0.5px solid lightgray;
  margin: 0 5px;
  background-color: whitesmoke;
  cursor: pointer;
}
/* 發現好像不需要寫，react中可靠狀態去改變顏色 */
/* .img-selector .selected {
  background-color: cyan;
} */
/* 首頁左、右箭頭 (為了不被antd的樣式覆蓋，所以都加了!important) */
.home-slide-arrow {
  position: absolute !important;
  top: 102.5px !important;
  width: 40px !important;
  height: 65px !important;
  /* cursor: pointer; */
  /* background-color: rgb(210, 207, 207, 0.25) !important; */
  background-color: rgb(210, 207, 207, 0.65) !important;
  justify-content: center !important;
  align-items: center !important;
  display: none;
  /* display: flex !important; */

  color: black !important;
  border: 0px solid white !important;
  border-radius: 3px !important;
}
.home-slide-arrow:hover {
  /* background-color: rgb(210, 207, 207, 0.65) !important; */
  background-color: rgb(229, 229, 229) !important;
}

/* 其他頁面左、右箭頭 */
.arrow {
  top: 140px !important;
  position: absolute !important;
  width: 40px !important;
  height: 65px !important;
  /* cursor: pointer; */
  /* background-color: rgb(210, 207, 207, 0.25) !important; */
  background-color: rgb(210, 207, 207, 0.65) !important;
  justify-content: center !important;
  align-items: center !important;
  display: none;
  /* display: flex !important; */

  color: black !important;
  border: 0px solid white !important;
  border-radius: 3px !important;
}
.arrow:hover {
  /* background-color: rgb(210, 207, 207, 0.65) !important; */
  background-color: rgb(229, 229, 229) !important;
}

.right {
  right: 0 !important;
}
.left {
  left: 0 !important;
}