/* 服務條款及隱私權政策 區塊 */
.policy-container {
  font-size: 14px;
  color: gray;
  align-items: center;
}
.policy-container a {
  text-decoration: none;
  color: orange;
}
.policy-container p {
  margin-top: 14px;
}
/* 已有帳號？登入 區塊 */
.go-to-login {
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.go-to-login a {
  text-decoration: none;
  color: orange;
}
.go-to-login p {
  margin-top: 16px;
}